$brand-primary: #116ACC;
$brand-primary-hov: #5897DB;
$brand-primary-act: #0C4A8F;
$brand-secondary1: #182233;
$brand-secondary2: #B3CEE2;
$brand-secondary3: #D9DDE7;
$brand-secondary4: #FD4E5D;
$gray-black: #000000;
$gray-1: #1F2937;
$gray-2: #374151;
$gray-3: #4B5563;
$gray-4: #6B7280;
$gray-5: #9CA3AF;
$gray-6: #D1D5DB;
$gray-7: #F3F4F6;
$white: #FFFFFF;
$state-info: #A0C3FF;
$state-sucess: #76CA66;
$state-warning: #FBC756;
$state-error: #BA0000;
